* {
/*清除下划线*/
text-decoration: none;
/* 去除li标签前的小圆点 */
list-style: none;
/* 清除标签默认的内边距 */
padding: 0;
margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .box {
        box-sizing: border-box;
        width: calc(100% / 3);
        padding: 0 4px;
        img {
            width: 100%;
            margin-top: 8px;
            vertical-align: middle;
        }
    }
}

@media screen and (max-width: 600px){
    .container {
        display: block;
        .box {
            width: 100%;
        }
    }
}

